{
    "shutdown-timeout": 180,
    "registry-mirrors": [
        "{{ DOCKERHUB_REGISTRY_URL }}"
    ],
    "log-driver": "local",
    "log-opts": {
        "max-size": "10m",
        "max-file": "3"
    }

}
