---
- name: Create AWS config directory
  file:
    path: "/root/.aws"
    state: directory

- name: Create AWS credential file
  copy:
    dest: "/root/.aws/credentials"
    content: "{{ aws_credential_template }}"

- name: Provision catalog server cluster
  community.general.terraform:
    project_path: "../terraform/env/{{ terraform_env }}/"
    state: present
    provider_upgrade: yes
    # focing init because state file exists in s3 and need provider
    # installed locally before we can detect it
    force_init: yes 
  register: tf

- name: Create ansible inventory file from terraform outputs
  copy:
    dest: "../configure-playbook/hosts"
    content: |
      docker:
        vars:
          aws_region: {{ tf.outputs.aws_region.value }}
          dnschallenge_key_id: {{ tf.outputs.dnschallenge_key_id.value }}
          dnschallenge_key_secret: {{ tf.outputs.dnschallenge_key_secret.value }}
        hosts:
          {{ tf.outputs.catalog_a_fqdn.value }}:
            efs_hostname: {{ tf.outputs.catalog_a_efs_hostname.value }}
          {{ tf.outputs.catalog_b_fqdn.value }}:
            efs_hostname: {{ tf.outputs.catalog_b_efs_hostname.value }}
          {{ tf.outputs.catalog_c_fqdn.value }}:
            efs_hostname: {{ tf.outputs.catalog_c_efs_hostname.value }}
  when:
   - terraform_env is defined
   - terraform_env == "devel" or terraform_env == "prod" or terraform_env == "catprod"

- name: Create a file with the list of hostnames for ansible keyscan
  copy:
    dest: "../configure-playbook/hostnames"
    content: |
      {{ tf.outputs.catalog_a_fqdn.value }}:
      {{ tf.outputs.catalog_b_fqdn.value }}:
      {{ tf.outputs.catalog_c_fqdn.value }}:
  when:
   - terraform_env is defined
   - terraform_env == "devel" or terraform_env == "prod" or terraform_env == "catprod"

- name: Create terraform tfvars files from shared resource outputs
  ansible.builtin.shell:
    chdir: "../terraform/env/{{ terraform_env }}/"
    cmd: terraform output --json | jq 'with_entries(.value |= .value)' > ../../../terraform.tfvars.json
  when:
   - terraform_env is defined
   - terraform_env == "shared"

- name: Pause for 30 seconds for servers to start and DNS propagate
  ansible.builtin.pause:
    seconds: 30
  when:
   - terraform_env is defined
   - terraform_env == "devel" or terraform_env == "prod" or terraform_env == "catprod"

- name: Add to known hosts file
  ansible.builtin.shell: >
      ssh-keyscan {{ tf.outputs.catalog_a_fqdn.value }} >> ~/.ssh/known_hosts &&
      ssh-keyscan {{ tf.outputs.catalog_b_fqdn.value }} >> ~/.ssh/known_hosts &&
      ssh-keyscan {{ tf.outputs.catalog_c_fqdn.value }} >> ~/.ssh/known_hosts
  when:
   - terraform_env is defined
   - terraform_env == "devel" or terraform_env == "prod" or terraform_env == "catprod"
