[global]
 workgroup = PUBCAT
 server string = Samba Server
 security = user
 dns proxy = no
 load printers = no
 wins support = no
 dns proxy = no
 domain master = no
 local master = no
 unix password sync = no
 pam password change = no
 usershare allow guests = no
 map to guest = never
 disable netbios = yes
 smb ports = 445
 restrict anonymous = 1
 interfaces = ens5


[catalog]
 path = /mnt/shared/local
 valid users = @"{{ samba_group_user }}"
 guest ok = no
 writable = yes
 browsable = yes
 create mask = 775
 directory mask = 775
