---

# Recommended by solr production guide
- name: Increase vm.max_map_count
  ansible.posix.sysctl:
    name: vm.max_map_count
    value: '1048576'
    state: present
    reload: true
  tags:
    - configure-host

 - name: Full hostname resolve to public IP for cluster
   ansible.builtin.lineinfile:
     path: /etc/hosts
     line: "{{ lookup('community.general.dig', item, qtype='A', fail_on_error=true) | trim('.') }} {{ item }}"
     state: present
   loop: "{{ ansible_play_hosts }}"
   tags:
     - configure-host
